<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> -->
<div class="col-md-offset-2 main">
  <h1 class="page-header"><span class="glyphicon glyphicon-tower"></span> Command Center</h1>

  <div class="row">
    <h3>Home content here</h3>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img class="img-rounded" src="http://placekitten.com/200/200">
    </div>
    <div class="col-md-4">
      <img class="img-circle" src="http://placekitten.com/g/200/200">
    </div>
    <div class="col-md-4">
      <img class="img-thumbnail" src="http://placekitten.com/200/200">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul class="media-list">
        <li class="media">
          <div class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/45x45/text:<%= @patients %>/sky" alt="45x45">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Patients in system</h4>
            since forever.
          </div>
        </li>

        <li class="media">
          <div class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/45x45/text:<%= @results %>/#dff0d8:#333" alt="45x45">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Ready Results</h4>
            since forever.
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <ul class="media-list">
        <li class="media">
          <div class="pull-left" href="#">
            <img class="media-object" src="http://placekitten.com/45/45" alt="45x45">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Made up</h4>
            information rocks.
          </div>
        </li>

        <li class="media">
          <div class="pull-left" href="#">
            <img class="media-object" src="http://placekitten.com/g/45/45" alt="45x45">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Some metric</h4>
            info goes here.
          </div>
        </li>
      </ul>
    </div>

  </div>

</div>
