<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Private Results</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>

      <h4>Infection Activity</h4>
      <ul class="nav nav-sidebar">
        <% @infections.each do |infection| %>
          <li><a href="#"><%= infection.name %></a></li>
        <% end %>
      </ul>

      <h5>Other stuff</h5>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
        <h2>Coinfections</h2>
        <table class="table" data-ng-controller="CoinfectionTablesController">
          <thead>
            <th></th>
            <th data-ng-repeat="infection_name in infection_names">{{infection_name}}</th>
          </thead>
          <tbody>
            <tr data-ng-repeat="infection_name in infection_names">
              <td>{{infection_name}}</td>
              <td data-ng-repeat="value in row_values(infection_name)">
                {{value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div data-ng-controller="InfectionActivityTimelinesController">
          <h1 class="page-header">Dashboard</h1>
          <div class="row dashboard-charts" data-ng-controller="InfectionTrendsController">
            <div class="col-sm-4 col-md-4 dashboard-chart">
              <img class="img-rounded" src="http://placekitten.com/200/200" alt="placekitten!" />
            </div>

            <div class="col-sm-8 col-md-8 dashboard-chart">
              <linechart data="infection_trend_data"
                         options="infection_trend_options"></linechart>
            </div>
          </div>

          <div class="row dashboard-charts">
            <div class="col-sm-4 col-md-4 dashboard-chart">
              <pie-chart data="positive_negative_pie_data"
                         options="positive_negative_pie_options"></pie-chart>
              <h3>Positive/Negative</h3>
            </div>

            <div class="col-sm-8 col-md-8">
              <linechart data="timeline_data"
                         options="timeline_options"
                         mode=""></linechart>
              <h3>Timeline</h3>
            </div>
          </div>

          <h2 class="sub-header">{{data.infection}}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Total Tests</th>
                  <th>Positive</th>
                  <th>Negative</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-hide="!data.status">
                  <td>Error: {{data.status}}</td>
                </tr>

                <tr data-ng-repeat="date in data.data">
                  <td>{{date.date}}</td>
                  <td>{{date.total}}</td>
                  <td>{{date.results.positive}}</td>
                  <td>{{date.results.negative}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

